body{
  background-color: black;
}

.kop{
  height: 150px;
  background-color: black;
}

.koppen{
  width: 100%;
  height: 40px;
  position: absolute;
  background-color: #cccc00;
  margin-top: 50px;
  text-align: center;
  padding-top: 10px;
}

a{
  padding-left: 80px;
  padding-right: 80px;
  text-decoration: none;
  color: black;
  font-family: "Muli";
  font-size: 1.4em;
}

a:hover{
  color: #cc0066;
}

.midden{
  background-color: #cc0066 ;
  width: 90%;
  height: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.fran{
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  margin-left: 210px;
  margin-top: 40px;
}



.kaitlin{
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  margin-left: 850px;
  margin-top: 310px;
}

.elinne{
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  margin-left: 210px;
  margin-top: 580px;
}

.amelie{
  width: 250px;
  height: 250px;
  background-color: white;
  position: absolute;
  margin-left: 850px;
  margin-top: 850px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#cccc00 ;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  font-family: "Muli";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.fran:hover .overlay {
  opacity: 1;
}

.kaitlin:hover .overlay {
  opacity: 1;
}

.elinne:hover .overlay {
  opacity: 1;
}

.amelie:hover .overlay {
  opacity: 1;
}

.uitleg1{
  position: absolute;
  width: 500px;
  height: 250px;
  margin-top: 120px;
  margin-left: 610px;
}

.uitleg2{
  position: absolute;
  width: 500px;
  height: 250px;
  margin-top: 390px;
  margin-left: 230px;
}

.uitleg3{
  position: absolute;
  width: 500px;
  height: 250px;
  margin-top: 650px;
  margin-left: 590px;
}

.uitleg4{
  position: absolute;
  width: 500px;
  height: 250px;
  margin-top: 900px;
  margin-left: 230px;
}

p{
  font-family: "Muli";
  color: white;
}


.voet{
  height: 300px;
}

.voet h2{
  color: white;
  font-family: "Muli",bold;
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
  color: #cccc00;
}

.foto{
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  margin-top: 40px;
}

.foto a {
  color: white;
  font-size: 0.9em;
  padding-left: 40px;
  padding-right: 40px; 
  text-align: center;
  font-family: "Muli";
}

.foto a:hover{
  color: #cc0066;
}

.adres{
  font-family: "Muli";
  font-size: 0.9em;
  margin-top: 40px;
  color: white;
  text-align: center;
}

@media (max-width: 1200px){
  .koppen{
    width:100%;
    height: 60px;
  }
  .koppen a{
    padding-left: 0;
    padding-right: 15px;
    padding-top: 10px;
  }

  .midden{
    height: 1800px;
  }

  .fran{
    margin-left: 80px;
  }

  .uitleg1{
    width: 400px;
    margin-top: 330px;
    margin-left: 80px;
  }

  .kaitlin{
    margin-left: 80px;
    margin-top: 500px;
  }

  .uitleg2{
    margin-left: 80px;
    margin-top: 790px;
  }

  .elinne{
    margin-left: 80px;
    margin-top: 910px;
  }

  .uitleg3{
    margin-left: 80px;
    margin-top: 1200px;
  }

  .amelie{
    margin-left: 80px;
    margin-top: 1320px;
  }

  .uitleg4{
    margin-left: 80px;
    margin-top: 1610px;
  }
  .foto{
    width: 400px;
  }

  .foto a{
    margin-left: 100px;
  }
}
